@font-face {
    font-family: "Helvetica Neue";
    src: url('../assets/fonts/HelveticaNeue-Bold.otf') format('opentype');
    font-weight: bold;
    text-rendering: geometricPrecision;
    font-style: normal;
}
@font-face {
    font-family: "Helvetica Neue";
    src: url('../assets/fonts/HelveticaNeue-Light.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
    text-rendering: geometricPrecision;

}

@font-face {
    font-family: "Helvetica Neue";
    src: url('../assets/fonts/HelveticaNeue-Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
    text-rendering: geometricPrecision;

}

@font-face {
    font-family: "Helvetica Neue";
    src: url('../assets/fonts/HelveticaNeue-Roman.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    text-rendering: geometricPrecision;

}

@font-face {
    font-family: "Helvetica Neue";
    src: url('../assets/fonts/HelveticaNeue-Thin.otf') format('opentype');
    font-weight: 100;
    font-style: normal;
    text-rendering: geometricPrecision;
}

.desc {
    font-size: 0.8em;
    margin: 0.5em 0;
    font-weight: lighter;
    font-style: italic !important;
    transform: skewX(-10deg);
    color: #555;
}

.beacon {
    border: 2px solid red;
    background: rgba(255, 157, 157, 0.5);
    position: absolute;
    left: -83px;
    font-family: "Helvetica Neue";
    text-rendering: geometricPrecision;
    font-size: large;
    color: rgb(110, 11, 11);

    font-weight: bold;
    top: 36px;
    min-width: 443px;
    min-height: 40px;
}