.panel {
    left: 50%;
    z-index: 10;
    display: block;
    width: min-content;
    height: 100%;
    display: flex;
    border-color: grey;
    border-style: solid;
    border-width: 0px 1px;
    padding: 0px 0px 10px 10px;
    margin-left: -5
    px;
    margin-right: 10px;
}

.buttonColumn {
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: center;
    width: min-content;
    padding: 0px;
    height: 100%;
    vertical-align: top;
}

.panel h6 {
    margin: 2px;
}
.panel h5 {
    margin: 3px;
}
.panel h4 {
    padding: 0px;
    margin: 0px;
    margin-top: 5px;
    margin-bottom: -2px;
    font-family: 'KaTeX_Main';
    /* border-style: solid;
    border-width: 1px 0px 0px 0px; */
}


.panel > button {
    flex-grow: 0;
    flex-shrink: 0;
    width: 50px;
    height: 50px;
    margin: 4px;
}

.selected  {
    background-color: #646cff;
}