.panel {
    /* border: 1px solid rgba(0, 0, 0, 0.5); */
width: 270px;
    overflow-x: hidden;
    max-height: 100%;
    
    overflow-y: scroll;
    margin: 5px 0px 15px 6px;
}
.panel  td {
    text-align: left;
}

.table thead>tr>th:nth-child(1) {
    width: 100px;
}

.table thead>tr>th:last-child {
    min-width: 120px;
}



table.simplexPanel {
    width: 100%;
    border-collapse: collapse;
}

.verticesPanel {
    background: #f33d0060;
}

.edgesPanel {
    background: #00f30060;
}

.facesPanel {
    background: #fbfbff60;
}

.ballsPanel {
    background: #ff008460;
}
.selected {
    background-color: var(--selected-bg)!important;
    color: white;
}


/* CellData.module.css */
.cellData {
    max-height: 0; /* Fully collapsed */
    overflow: hidden; /* Hide content when collapsed */
    transition: max-height 0.1s ease; /* Smooth transition for height */
}

.cellHeader {
    display: flex;
    width: 100%;
}
.cellHeader > div:last-child {
    /* inside the flex, align to right */
    margin-left: auto;
}
.datumOuter {
    width: 100%;
    text-align: left;
    font-family: Helvetica Neue;
}
.expandButton {
    background: transparent;
    border: none;
}



.selected {
    background-color: var(--selected-bg) !important;
    color: white;
}


.dimName {
    text-align: center;
    align-items: center;
    align-content: center;
    font-family: Helvetica Neue;
    font-weight: 500!important;
}
.dimButton {
    /* background-color: var(--unselected-bg); */
    border: 1px solid var(--unselected-bg);
    padding: 5px;
    cursor: pointer;
    flex-grow: 1;
    text-align: center;
    transition: transform 0.1s ease, background-color 0.1s ease;
    font-weight: bold;
    font-family: Helvetica Neue;
}
.dimButton:hover {
    /* filter: brightness(0.9); */
    transform: translateY(-1px);
}

.dimButton:active {
    background-color: var(--selected-bg);
}
.dimButtons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align-content: center;
}
.cellRow {
    background-color: rgb(240, 240, 240);
}

.modal {
    position: absolute;
    top: -20px;
    left: -20px;
    width: calc(100% + 40px);
    height: calc(100% + 60px);
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Ensure it appears above other content */
}

.modalContent {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 600px;
}
.modalHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}
.input {
    width: max-content;
    background: var(--unselected-bg);
}
.input:focus {
    background: var(--selected-bg);
    color: var(--selected-fg);
    outline: none;
}