/*
style={{ color: 'black', fontFamily: "Helvetica Neue", fontSize: '16px', background: '#FFFC', boxShadow:"0px 0px 5px 0px black", padding: '2px',pointerEvents: 'none' }}>
*/

.label {
    color: var(--unselected-fg);
    font-family: 'Helvetica Neue';
    font-size: 16px;

    padding: 2px;

    transform: translate(-100px, 0px)
    /* transition: background-color 0.2s ease, color 0.2s ease; */

}
.label-edge {
    background-color: #0005;
    border-radius: 10px;
    color:  white;
    background-blend-mode: overlay;
    margin-top: -10px;
    margin-left: -8px;
    /* box-shadow: 0px 0px 5px 0px #888; */
    /* transform: translate(510px, 5px); */
    mix-blend-mode: lighten!important;
    max-height: 20px;
    /* border-radius: 1px; */
    line-height: 12px!important;
    /* border: 2px solid #aaa;    */
    transform: translate(calc(10px - 50%), 2px)!important;
    opacity: var(--edge-name-opacity);

}
.label-edge-on {
    background-color: var(--selected-bg);
    color: white;
    mix-blend-mode: overlay;
    /* box-shadow: 0px 0px 5px 0px #ccc; */
    /* transform: translate(510px, 5px); */
    max-height: 20px;
    border-radius: 1px;
    line-height: 12px!important;
    border: 1px solid var(--selected-bg); 
}
/* .label-edge {
    background-color: #fcfcfcc0;
    background-blend-mode: overlay;
    box-shadow: 0px 0px 5px 0px rgb(255, 255, 255);
    height: 23px;
    padding-top: 0px;
    
    
    } */
    
    .label-vertex {
        background-color: #0006;
        mix-blend-mode: luminosity;
        color: white;
    height: 26px;
    aspect-ratio: 1;
    position: relative;
    mix-blend-mode: overlay;
    margin: -13px -12px;
    border-radius: 50%;
    opacity: var(--vertex-name-opacity);

}
.label-vertex-on {
    background-color: var(--selected-bg);
    color: white;
}
.label-face-on {
    color: red!important;
    background: white;
    opacity: 1!important;
}
.label-face {
    transform: translate(-50%, -50%)!important;
    color: white;
    font-weight: bold;
    height: 20px;
    line-height: 15px;
    opacity: var(--face-name-opacity);
}