.historyOuter {
    width: 100%;
    border-color: grey;
    border-style: solid;
    border-width: 0px 0px 1px 0px;;
    margin-bottom: 15px;
    height: 60px;
    display: flex;
    flex-direction: row;
    font-family: "Helvetica Neue";
    overflow-x: scroll;
    overflow-y: hidden;
    max-width: calc(100% - 0px);
  }
  
  .historyOuter > div {
    margin: 5px;
    border: 1px solid lightgray;
  }

  .historyItem {
    width: max-content;
    margin: 5px;
    padding: 0px 4px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    flex-shrink: 0;
  }

  .disabled {
    color: #bbb!important;
    pointer-events: none;
  }