.notificationContainer {
    position: fixed;
    top: 10px;
    right: 200px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    z-index: 1000;
  }
  
  .notification {
    background-color: #fff3c1e5;
    border: 2px solid #ffcc90;
    color: #333;
    padding: 10px 15px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    animation: fadeOut 5s forwards;
  }
  .notification:hover {
    background: #fff3cc;
  }
  @keyframes fadeOut {
    0% {
      opacity: 1;
    }
    80% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  
  .menu {
    position: fixed;
    top: 10px;
    right: 10px;
    background: #f8f9fa;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    z-index: 1000;
  }
  
  .menu summary {
    cursor: pointer;
    font-weight: bold;
  }
  
  .menu details {
    font-size: 0.9em;
  }