

.panelHolder {
    width: min-content;
    display: flex;
    margin: 15px;
    flex-direction: column;
    border: 1px solid grey;
}


.keybinds {
    font-family: "Helvetica Neue";
    display: none;
    margin-left: 20px!important;
}
.keybinds > div {
    /* border-width: 1px 0px; */
    border-color: rgb(173, 173, 173);
    border-style: solid;
    margin: 5px;
    padding: 0px 5px;
}
.upperPanel {

    /* Should be arranged horizontally */
    height: calc(100vh - 380px);
    max-height: calc(100vh - 380px);
    z-index: 1;
    right: 0;
}

.lowerPanel {
    height: 200px;
    margin: left auto;
    /* box-shadow: 0px 0px 0px 1px #888; */
    padding: 10px;
}

.keybindLabel {
    color: #555;
    border: none;
    box-shadow: none;
    border-width: 0px;
    display: flex;
}
.keybindLabel > div {
    font-weight: bold;
    display: flex;
    line-height: 0.8;
    height: calc(100% - 5px);
    font-size: 14px;
    padding: 4px 5px;
    margin-top: 2px;
    border-radius: 4px;
    background: #555;
    color: white;
    margin-right:5px;
}
.keybinds {
    display: flex;
    justify-content: center;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    border: 1px 0px 1px 0px solid black!important;
}
.button {
    transition-property: box-shadow, transform, background-color;
    transition-duration: 0.1s;
    font-weight: bold;

    text-transform: none;
    /* box-shadow: 0px 2px 2px 0px #0004; */
    min-width: 40px;
    margin: 6px 0px;
    border: none;
    border-bottom-right-radius: 0px;
    position: relative; /* Enable overlaying icons */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--unselected-fg); /* Default color */
    background-color: var(--background-color); /* Default background color */ 
}
.button:hover {
    box-shadow: 0px 4.5px 4px 0px #0004;

}

.filePanel {
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
    overflow: hidden;
    /* border-width: 0px 2px 0px 0px;
    border-color: grey;
    border-style: solid; */
    padding: 6px;
}