.button:active {
    box-shadow: none;
    transform: translateY(2px);
}
.button:hover {
    box-shadow: 0px 4.5px 4px 0px #0004;

}
.button {
    transition-property: box-shadow, transform, background-color;
    transition-duration: 0.1s;
    font-weight: bold;

    text-transform: none;
    /* box-shadow: 0px 2px 2px 0px #0004; */
    min-width: 40px;
    margin: 6px 0px;
    border: none;
    border-bottom-right-radius: 0px;
    position: relative; /* Enable overlaying icons */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--unselected-fg); /* Default color */
    background-color: var(--background-color); /* Default background color */
}
.button div {
    display: flex;
    flex-direction: column;
    /* an inside text div that is rotated 90 deg and centerred */
}
.background {
    left: -40px;
    top: -40px;
    width: calc(100% + 80px);
    height: calc(100% + 80px);
    position: absolute;
    z-index: 10000000000;
    background: rgba(0, 0, 0, 0.4);
    overflow: hidden;
}

.modalWindow {
    width: 600px;
    height: 400px;
    position: absolute;
    top: calc(50% - 200px);
    left: calc(50% - 300px);
    background-color: var(--unselected-bg) !important;
    border-radius: 0px !important;
    border: 2px solid rgba(0, 0, 0, 0.26) !important;
    box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.26) !important;
    font-family: Helvetica Neue;
    color: var(--unselected-fg) !important;
    padding: 8px !important;

}

.react-joyride__tooltip {
    background-color: var(--unselected-bg) !important;

    font-size: 14px;
    font-weight: normal !important;
    max-width: 500px;
    min-width: 200px;
}

.modalHeader {
    height: 50px;
    
}
.close {
    top: 0px;
    right: 0px;
    position: absolute;
    font-size: large;
    width: 50px!important;
    /* height: 50px; */

    background-color: none;
    border: none!important;
    font-size: x-large;
    margin: 10px!important;
    margin-right: 15px!important;
    padding: 0!important;
    box-shadow: none!important;
    color: var(--unselected-fg) !important;
    width: min-content!important;
    aspect-ratio: 1!important;
}
.closeModal {
    position: absolute;
    right: 30px;
    top: 30px;
}

.list {
    width: calc(100% - 0px);
}
.list li:hover {
    background-color: var(--unselected-bg);
    transform: translateY(-1px);
    transition: background-color 0..05s, color 0.05s, transform 0.05s;
    user-select: none;
}
.list li:active {
    background-color: var(--selected-bg);
    color: var(--selected-fg);
    transform: translateY(1px);
    transition: background-color 0.05s, transform 0.05s
}
.list tr {
    text-align: left;
}
.list td {
    width: min-content;
}
.list td:last-child {
    width: 100%
}
.list table {
    width: calc(100% - 5px);
}

.list input {
    border: 2px solid var(--unselected-mid);
    outline: none; 
    width: 100%;
    background: transparent;
    color: var(--unselected-fg);
    font-family: Helvetica Neue;
    font-size: inherit;
    margin-left: 5px;
}
.list input:focus {
    border: 2px solid var(--selected-bg);
}
.list > input {
    border: none;

}

.loadComplex {
    height: 100%;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between
}
.loadComplex > div {
    /* border: 1px solid blue; */
}

.beacon {
    /* border: 2px solid rgb(72, 0, 255); */
    border: none;
    background: rgba(157, 159, 255, 0.5);
    position: absolute;
    /* left: -83px; */
    font-family: "Helvetica Neue";
    text-rendering: geometricPrecision;
    font-size: large;
    color: rgb(60, 38, 115);

    font-weight: bold;
    top: 78px;
    min-width: calc(var(--left-panel-width) / 2 - 10px);

    min-height: 40px;
}


.examplesBody {
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    border: 1px solid red;
    gap: 0px;
}

.examplesColumn {
    flex: 0 0 calc(50% - 8px);
    border: 1px solid var(--unselected-mid);
}

.examplesColumn > div {
    padding: 0px!important;
    margin: 0px!important;
    border-bottom: 1px solid var(--unselected-mid);
    cursor: pointer;
    position: relative;
}
.exampleItem {
    /* padding: 10px; */
    /* border-bottom: 1px solid var(--unselected-mid); */
    cursor: pointer;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: color 0.2s ease;

}
.exampleItem:hover {
    color: #FFF0;
}
.exampleDescription {
    color: var(--unselected-fg);
    padding: 0px;
    background: #8885;
    border: 1px solid blue;
    /* position:fixed; */
    top: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.2s ease;
}
.exampleItem:hover .exampleDescription {
    opacity: 1;
}
